{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Описание вакансий -->
<div class="container mt-4">
<h4 class="mb-4">Предстоящие мероприятия</h4>
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-green text-white">ЛЕКЦИИ</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-violet text-white">CTF</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-red text-white">КУРСЫ</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>
	</div>
	<h4 class="mb-4">Прошедшие мероприятия</h4>
	<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-blue text-white">РАБОТА</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-green text-white">ЛЕКЦИИ</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

		<!-- Card -->
		<a class="card border-0 mb-4" href="{% url '' %}">

			<!-- Image -->
			<img class="card-img-top " src="{% static 'images/it.jpg' %}" alt="...">



			<!-- Body -->
			<div class="card-body">
	    <h6 class="card-title text-dark"><span class="colortext-green text-white">ЛЕКЦИИ</span>27 апреля 2019</h6>

  	</div>


	</a>
	</div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-8">

		<p class="text-dark">Провели лекцию Основан в 2019 году на базе Дальневосточного федерального университета. The BEST of the BEST. Тут описание поиска резюме и приемщества перед hh или фарпостом, поиск по образовательным компетенциям</p>
	</div>





</div>
</div>
{% endblock %}
